# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=localhost

# The subdomain to serve from, ended by "."
SUBDOMAIN=""

PORT=5678
# The above example serve n8n at: https://n8n.example.com

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=Europe/Berlin

N8N_WORKFLOW_STORAGE_MODE=filesystem
N8N_WORKFLOW_FILESYSTEM_PATH=/workflows
# Change the protocol to "https" for prod
N8N_PROTOCOL=http
# Change the environement to "production" for prod
NODE_ENV=dev

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=your-ssl-email@gmail.com


# The API_KEY provided by LLM (Gemini in this case, but you can use what you want)
LLM_API_KEY=your-llm-api-key

# Google Credentials
GOOGLE_CLIENT_ID=your-google-id
GOOGLE_CLIENT_SECRET=your-google-secret

# This email will be used to receive email from the llm
EMAIL_RECEIVER=your-email-receiver

